/**
Background colours
 */
.background-blue{
    -fx-background-color: #119796;
}

.background-dark{
    -fx-background-color: #2C2c36;
}

/**
Exit button with no background
 */
.clear-exit-btn{
    -fx-background-insets: 0;
    -fx-background-color:  #119796;
    -fx-border-style: none;
}

/**
Buttons
 */
.blue-ui-btn{
    -fx-background-color: #119796;
    -fx-text-fill: #fff;
}

.text-white {
    -fx-text-fill: white !important;
    -fx-fill:white !important;
}

/**
Sliders
 */
.ui-slider .thumb {
    -fx-background-color: rgb(60, 60, 60);
    -fx-border-radius: 10;
    -fx-border-color: darkgray;
}

.ui-slider .track{
    -fx-background-color: #119796;
}

.ui-slider .axis{
    -fx-tick-label-fill: white;
}

.ui-slider .axis .axis-label{
    -fx-text-fill: white;
}

/**
Checkbox
 */
.ui-checkbox .box{
    -fx-background-color: white;
    -fx-graphic:none;
    -fx-shape: none;
}

.ui-checkbox .box .mark{
    -fx-background-image: none;
    -fx-image: none;
    -fx-graphic: none;
    -fx-shape: none;
}

.ui-checkbox:selected .box{
    -fx-background-color: #119796;
    -fx-shape: none;
}

.ui-checkbox:selected .box .mark{
    -fx-background-color: #119796;
    -fx-shape: none;
    -fx-graphic: none;
}

/**
Table
 */
.ui-table{
    -fx-background-color: transparent;
}

.ui-table:focused{
    -fx-background-color: transparent;
}

.ui-table .column-header-background{
    -fx-background-color: white
}

.ui-table .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

server thread
.ui-table .column-header {
    -fx-background-color: transparent;
}

.ui-table .table-cell{
    -fx-text-fill: white;
    -fx-border-style: none;
}

.table-row-cell{
    -fx-background-color: #119796;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-style: none;
}

.table-row-cell:odd{
    -fx-background-color: #0e6d6c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-style: none;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-border-style: none;
}


/**
Combo Box
 */

.combo-box-base {
    -fx-background-color: #119796;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: white;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
}

/**
Remove scroll bars
 */
.ui-table *.scroll-bar:horizontal *.increment-button,
.ui-table *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.ui-table *.scroll-bar:horizontal *.increment-arrow,
.ui-table *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.ui-table *.scroll-bar:vertical *.increment-arrow,
.ui-table *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: #0e6d6c;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.ui-table *.scroll-bar:vertical *.increment-button,
.ui-table *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: #0e6d6c;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.chart{
}

.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.axis {
    -fx-tick-label-fill: #ffffff;
}
