@font-face {
    src: url("DJB-Get-Digital.ttf");
}

#timerGrid{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.timer Label {
    -fx-font-family: "DJB Get Digital" !important;
}

#timerLabel{
    -fx-font-size: 21px;
}

#raceInfoArea{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

#chatGridPane {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

#chatHistoryHolder {

}

#windGridPane {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

#windHolder {

}

#chatSend {
    -fx-background-color: -fx-pp-front-color;
    -fx-text-fill: -fx-pp-theme-color;
    -fx-font-size: 13px;
    -fx-pref-height: 35px;
}

#chatSend:hover {
    -fx-font-size: 15px;
}

#chatInput {
    -jfx-focus-color: -fx-pp-light-theme-color;
    -jfx-unfocus-color: -fx-pp-dark-text-color;
    -fx-background-color: transparent;
}

#windImageView {
    -fx-image: url("/images/wind.png");
}