@font-face {
    src: url("digital-7-mono.ttf");
}

#timerGrid{
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-effect: -fx-pp-dropshadow-light;
    -fx-background-radius: 5;
}

GridPane .timer * {
    -fx-font-family: "Digital-7 Mono" !important;
    -fx-font-size: 30;
}

#timerLabel{
    -fx-font-size: 21px;
}

#raceInfoArea{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

#chatGridPane {
    -fx-background-color: transparent;
}

#chatHistoryHolder {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-effect: -fx-pp-dropshadow-light;
    -fx-background-radius: 5;
}

#chatInputHolder {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-effect: -fx-pp-dropshadow-light;
    -fx-background-radius: 5;
}

#windGridPane {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-effect: -fx-pp-dropshadow-light;
    -fx-background-radius: 5;
}

#windHolder {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 5;
}

#chatSend {
    -fx-background-color: -fx-pp-front-color;
    -fx-text-fill: -fx-pp-theme-color;
    -fx-font-size: 13px;
    -fx-pref-height: 35px;
    -fx-focus-traversable: false;
}

#chatSend:hover {
    -fx-font-size: 15px;
}

#chatInput {
    -jfx-focus-color: -fx-pp-light-theme-color;
    -jfx-unfocus-color: -fx-pp-dark-text-color;
    -fx-background-color: transparent;
}

#chatToggleButton {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 5;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

#windImageView {
    -fx-image: url("/images/wind-180.png");
}

#miniMapPane {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 5;
}

#miniMapButton {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 5;
    -fx-min-width: 30;
    -fx-min-height: 30;
}