* {
    -fx-text-fill: -fx-pp-dark-text-color;
}

#submitBtn {
    -fx-background-color: -fx-pp-theme-color;
    -fx-text-fill: -fx-pp-light-text-color;
    -fx-font-size: 20px !important;
    -fx-effect: -fx-pp-dropshadow-dark;
    -fx-min-width: 130px;
}

#submitBtn:hover {
    -fx-font-size: 23px !important;
    -fx-background-color: -fx-pp-light-theme-color;
}

#hostDialogHeader {
    -fx-font-size: 23px !important;
}

#boatColorLabel, #colorPicker {
    -fx-font-size: 18px;
}

#boatName {
    -fx-font-size: 18px;
    -fx-prompt-text-fill: -fx-pp-dark-text-color;
}